@font-face {
	font-family: 'EngraversOldEnglish';
	src: url('resources/OPTIEngraversOldEnglish.otf');
}

/* Removed default font override and color styles for p and a */

header {
	/*height: 120px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;*/
}

header h1 {
	font-family: EngraversOldEnglish;
	margin-bottom: 30px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.headerLeft,
.headerRight {
	height: 40px;
	width: 110px;
	position: absolute;
	top: 17px;
	text-align: center;
	border-style: solid;
	border-width: 1px;
}

.headerLeft {
	left: 50px;
	float: left;
}

.headerRight {
	right: 50px;
	float: right;
}

nav {
	width: 100vw;
	text-align: center;
	position: sticky;
	top: 0;
	margin-bottom: 15px;
}

nav ul {
	list-style-type: none;
	height: 100%;
	padding-left: 0;
	margin: 0;
}

nav ul li {
	float: left;
	width: 25%;
	height: 100%;
	text-align: center;
}

nav ul li:hover {
	background-color: rgba(193, 186, 175, 0.83); /* Match main.css color theme */
}

nav ul li a {
	display: block;
}

.body-container p {
	text-align: left;
}

main {
	display: flex;
	height: 100%;
	flex-wrap: wrap;
	padding: 20px;
	padding-top: 0;
}

.layer-toggle {
	display: inline-flex;
	align-items: center;
	background-color: #C2BCB1;
	border: 1px solid #CBC6BC;
	border-radius: 8px;
	padding: 6px 12px;
	margin-right: 10px;
	margin-bottom: 2px;
	cursor: pointer;
	font-family: 'Segoe UI', sans-serif;
	font-size: 14px;
    color: #333;
    transition: background-color 0.3s ease;
}

.layer-toggle:hover {
	background-color: #CBC6BC;
}

.layer-toggle input[type="checkbox"] {
	margin-right: 8px;
	transform: scale(1.2);
	accent-color: #20150f;
}

.toggle-container {
	margin: 10px 0 20px;
}

.left-section,
.middle-section,
.right-section {
	flex: 1;
	padding: 20px;
	min-width: 400px;
}

.right-section {
	overflow-y: auto;
	max-height: 80vh;
}

.middle-section {
	overflow-y: auto;
	max-height: 80vh;
}

.middle-section:hover h2,
.middle-section:hover h1 {
	color: #8B0000;
}

footer {
	position: sticky;
	bottom: 0px;
	padding: 10px 0;
	overflow: hidden;
	white-space: nowrap;
	clear: both;
	width: 100%;
}

#scroll {
	display: inline-block;
	padding-left: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#map {
	background-color: #ddd;
	height: 350px;
	margin-bottom: 20px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.articleTemplate {
	margin: 0px;
	border: 0;
	padding: 0;
	border-top: 2px solid black;
}

.articleTemplate h1,
.articleTemplate h2,
.articleTemplate h3 {
	width: 100%;
}

img {
  filter: grayscale(90%);
  transition: filter 0.3s ease;
}

img:hover {
  filter: grayscale(0%);
}

.articlePhoto,
.articlePhotoRight {
	width: 10vw;
	height: 10vw;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.articlePhoto {
	margin-right: 2vw;
	float: left;
}

.articlePhotoRight {
	margin-left: 2vw;
	float: right;
}
